# preload = ~/Pictures/desktop/misty.jpg

{{- if eq .chezmoi.hostname "martinaise" }}
preload = ~/Pictures/desktop/sunny.png
wallpaper = DP-1,~/Pictures/desktop/sunny.png
wallpaper = HDMI-A-1,~/Pictures/desktop/sunny.png
{{- end }}

{{- if eq .chezmoi.hostname "revachol" }}
preload = ~/Pictures/desktop/nebula.jpg
wallpaper = eDP-1,~/Pictures/desktop/nebula.jpg
{{- end }}




# wallpaper = DP-1,~/Pictures/desktop/misty.jpg
# wallpaper = HDMI-A-1,~/Pictures/desktop/misty.jpg
