* {
	border: none;
	/* border-radius: 20px; */
	font-family: monospace;
	font-size: 24px;
	min-height: 0;
}

*>* {
	border-radius: 20px;
}

window#waybar {
	background: rgba(164, 164, 164, 0.0);
	color: white;
}

#window {
	margin-left: 1em;
}

/* #workspaces { */
/* 	background-color: rgba(46, 52, 64, 0.15); */
/* 	margin: 0.2em; */
/* 	margin-left: 10px; */
/* 	border-radius: 5px; */
/* 	padding: 0.5em 0.2em; */
/* } */

#workspaces {
	background-color: #1a1b26;
	padding: 0.3rem 0.7rem;
	margin-bottom: 5px;
	/* 5px top/bottom margin, 0px left/right (base for individual control) */
	border-radius: 0px 0px 12px 0px;
	/* These modules are always rounded */
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
	min-width: 0;
	border: none;
	/* Transition for background-color and color only */
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces button {
	color: #babbf1;
	border-radius: 100%;
	/* Workspaces buttons are always rounded */
	padding: 0.3rem 0.8rem;
	margin: 1px 4px;
	background: transparent;
	transition: all 0.2s ease-in-out;
	border: none;
	outline: none;
}

#workspaces button.visible.hosting-monitor,
#workspaces button.active {
	color: black;
	background-color: rgba(153, 209, 219, 1);
	box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button.visible.hosting-monitor:not(.active) {
	color: #99d1db;
	background-color: rgba(133, 169, 189, 1);
	box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}



/* empty but persistent */
#workspaces button.empty {
	color: #99d1db;
	background-color: rgba(153, 209, 219, 0.2);
}

/* non-empty not active */
#workspaces button {
	color: #99d1db;
	background-color: rgba(153, 209, 219, 0.7);
}


#workspaces button:hover {
	background: rgb(41, 42, 53);
	/* Reference bright hover color */
	color: #c6d0f5;
}


/* empty but persistent */
/* #workspaces button.empty { */


/* non-empty not active */
/* #workspaces button { */



/* #workspaces button.visible { */



/* #workspaces button.active.hosting-monitor, */
/* #workspaces button.visible.hosting-monitor { */

/* #workspaces button.active.hosting-monitor::before { */
/* 	content: "["; */
/* } */
/**/
/* #workspaces button.active.hosting-monitor::after { */
/* 	content: "]"; */
/* } */
/**/
#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#temperature,
#backlight,
#memory,
#tray,
#window {
	/* background-color: #4f739f; */
	background-color: rgba(79, 115, 159, 0.4);
	padding: 0 0.4em;
	margin: 0.5em 0;
}

#window.waybar-empty {
	background-color: transparent;
}

#custom-date {
	color: #8fbcbb;
}

#custom-power {
	color: #2e3440;
	background-color: #bf616a;
	padding: 0.2em 0.65em;
	margin-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0px;
	border-radius: 100%;
}

#clock {
	color: #b48ead;
	margin-right: 10px;
}

#tray {
	margin-right: 1em;

}

#cpu {
	color: #8fbcbb;
}

#memory {
	color: #b48ead;
}

#battery {
	color: #a3be8c;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

#battery.charging {
	color: #a3be8c;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#network {
	color: #d08770;
}

#pulseaudio {
	color: #ebcb8b;
}
