* {
	border: none;
	/* border-radius: 20px; */
	font-family: monospace;
	font-size: 1em;
	min-height: 0;
}

* > * {	
	border-radius: 20px;
}

window#waybar {
	background: rgba(164, 164, 164, 0.5);
	color: white;
}

#window {
	margin-left: 1em;
}

#workspaces {
	background-color: rgba(46, 52, 64, 0.15);
	margin: 0.2em;
	margin-left: 10px;
	border-radius: 5px;
	padding: 0.5em 0.2em;
}


/* empty but persistent */
#workspaces button.empty {
	background-color: transparent;
	border: none;
}

/* non-empty not active */
#workspaces button {
	border-radius: 10px;
	padding: 0 0.3em;
	margin: 0 2px;
	color: #eceff4;
	/* background-color: #6790a0; */
	/* background-color: #81A1C1; */
	background-color: #5e81Ac;
	border: 1px solid black;
}


#workspaces button.visible {
	background-color: #8FBCBB;
	border: 0.1em solid blue;
}

/**/
/* #workspaces button.visible.hosting-monitor { */
/* 	background-color: #8FBCBB; */
/* 	border: 3px solid red; */
/* } */



#workspaces button.active.hosting-monitor,
#workspaces button.visible.hosting-monitor {
	background-color: #8FBCBB;
	border-color: #A3BE8C;
	border: 0.2em solid lightblue;
}

/* #workspaces button.active.hosting-monitor::before { */
/* 	content: "["; */
/* } */
/**/
/* #workspaces button.active.hosting-monitor::after { */
/* 	content: "]"; */
/* } */
/**/
#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#temperature,
#backlight,
#memory,
#tray,
#window {
	background-color: #4f739f;
	padding: 0.1em 0.65em;
	margin: 0.5em 0;
}

#window.waybar-empty {
	background-color: transparent;
}

#custom-date {
	color: #8fbcbb;
}

#custom-power {
	color: #2e3440;
	background-color: #bf616a;
	padding: 0.2em 0.65em;
	margin-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0px;
	border-radius: 100%;
}

#clock {
	color: #b48ead;
	margin-right: 10px;
}

#tray {
	margin-right: 1em;

}

#cpu {
	color: #8fbcbb;
}

#memory {
	color: #b48ead;
}

#battery {
	color: #a3be8c;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

#battery.charging {
	color: #a3be8c;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#network {
	color: #d08770;
}

#pulseaudio {
	color: #ebcb8b;
}
